@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/typography.scss' as*;

.warehouse-form {
  &__primary{
    margin-left: 0;
  }
 

  &__container {
    border-top: 1px solid $cloud;
    margin-bottom: 1.563rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  &__container-buttons {
    display: flex;
    flex-direction: row;
    background: $light-grey;
    padding: 1.25rem;
    gap: 1rem;
  }
  &__title {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

@include tablet {
  .warehouse-form {
    &__primary{
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $cloud;
    }
    &__container {
      border-top: none;
      width: 100%;
      margin-bottom: 2.5rem;
    }
    &__border {
      border-right: 1px solid $cloud;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    &__container-buttons {
      justify-content: flex-end;
    }
  }
}

@include desktop {

  .warehouse-form {
    width: auto;
    display: flex;
    flex-direction: column;
   

    &__primary{
    width: auto;
  }
    &__container {
      margin-left: 0;
      margin-right: 0;

    }
  }
}
