@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    background-color: $light-grey;
    display: flex;
    justify-content: center;
    font-size: 13px;

    @include desktop {
        font-size: 14px;
    }

}